* {
    text-transform: none !important;
}

/* Βασικές Ρυθμίσεις Σώματος */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    background-color: #eaeaea;
}

/* Κύριο Περιεχόμενο */
.main_cont {
    max-width: 100%;
}

/* display flex */
.main_cont,
.f_cont,
.form,
.box,
.act_cont,
.acts,
.b_el {
    display: flex;
    justify-content: center;
}

/* Ρυθμίσεις Φόρμας */
.cont {
    margin: 25px;
}

.f_cont {
    position: relative;
    width: 60%;
}

.form,
.box,
.box li,
.table,
.b_el {
    width: 100%;
}

.form {
    justify-items: center;
}

.box {
    box-shadow: 1px 1px 5px rgb(162, 162, 162);
    padding: 25px 25px 75px 25px;
    margin: 55px 0 50px 0;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    text-align: justify;
}

.box,
.table_cont,
.table {
    border-radius: 5px;
    background-color: white;
}

/* Επικεφαλίδα Φόρμας */
.fh_cont {
    position: relative;
    padding: 25px 0 50px 0;
}

.f_head {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.f_body {
    line-height: 2;
}

/* Ρυθμίσεις Πίνακα */
.table_cont {
    margin: 0px 30px;
    box-shadow: 1px 1px 4px 2px rgba(211, 211, 211, 0.615);
    overflow: auto;
}

.table {
    border-collapse: collapse;
}

.table th,
td {
    font-size: 16px;
    padding: 10px 30px;
    text-align: left;
}

.table tr {
    max-width: 100%;
    border-bottom: 2px solid rgba(211, 211, 211);
    transition: all 0.3s ease;
}

.table thead {
    border: none;
    line-height: 2.75;
}

.table tbody tr:hover {
    background-color: #e8e8e8e3;
}

/* Επεξεργασία */
.edit {
    width: 15%;
}

.edit .e_but {
    background-color: #26890d;
    border: #26890dbc 2px solid;
    border-radius: 25px;
    box-shadow: 1px 1px 5px rgb(92, 92, 92);
    width: 180px;
    cursor: pointer;
}

.b_el {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.b_el #text {

    color: white;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    font-size: 16px;
    padding-right: 5px;
    padding-left: 2px;
}

.b_el #icon {
    height: 37px;
}

.e_but:hover {
    scale: 1.1 1.1;
    background-color: #2da70f;
    border-color: #2da70fab;
    box-shadow: 2px 2px 5px #1f710a;
}

/* Ενέργειες */
.act_cont {
    width: 18%;
    position: relative;
}

.actions {
    width: 18%;
    position: fixed;
    top: calc(50% + 35px);
    transform: translateY(-50%);
}

.acts {
    flex-direction: column;
}

/* align items center */
.acts,
.act_but {
    align-items: center;
}

.act {
    width: 100%;
    padding-bottom: 20px;
}

.act_but {
    background-color: #26890d;
    border: #26890dbc 2px solid;
    border-radius: 25px;
    box-shadow: 1px 1px 5px rgb(71, 71, 71);
    width: 100%;
    height: 70px;
    cursor: pointer;
}

.act_but#submit {
    opacity: 0.6;
    cursor: not-allowed;
}

.but_text {
    font-size: 20px;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 5px rgb(71, 71, 71);
    padding-right: 10px;
}

.but_text#text2 {
    padding-right: 7px;
}

.but_icon {
    height: 35px;
}

.but_icon#icon2 {
    height: 42px;
}

.act_but:not(#submit):hover {
    scale: 1.1 1.1;
    background-color: #2da70f;
    border-color: #2da70fab;
    box-shadow: 2px 2px 5px #1f710a;
}

.act_but,
.e_but {
    transition: all 0.2s ease;
}