/* Header Ρυθμίσεις */
header {
    height: 70px;
}

.header {

    overflow: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1500 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 70px;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
}

.head_left,
.head_right {
    display: flex;
    align-items: center;
    height: 100%;
}

#h_logo {
    height: 35px;
    padding: 25px 20px 20px;
}

/* Ρυθμίσεις Πλοήγησης */
.nav_bar {
    height: 70px;
    position: relative;
    left: 10px;
}

.nav_l {
    width: 100%;
    height: 100%;
    display: inline-flex;
    overflow: auto;
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav_l li {
    text-align: center;
    padding: 24px 15px;
    float: left;
}

.nav_l a {
    text-decoration: none;
    color: white;
}

.nav_l li:hover {
    padding-bottom: 19.5px;
    border-bottom: 4.5px solid #87bd25;
}

.nav_l li:hover a {
    color: #87bd25;
}

.nav_l li a {
    transition: color 0.3s;
}

/* Αναζήτηση */
.search {
    border-radius: 20px;
    margin: 16.5px 25px 16.5px 16.5px;
    background-color: grey;
    height: 35px;
    position: relative;
}

.search form {
    height: 100%;
    display: flex;
}

#s_box {
    overflow: auto;
    border: none;
    height: 100%;
    width: 200px;
    flex-grow: 1;
    border-radius: 20px;
    background-color: transparent;
    padding: 0 45px 0 15px;
}

#s_but {
    padding: 8px 13px 7px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    position: absolute;
    right: 0;
    height: 100%;
}

#s_img {
    height: 20px;
    width: 20px;
}

#s_box::placeholder,
#s_box:focus {
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    color: white;
}

#s_box:hover,
#s_but:hover {
    background-color: rgb(145, 145, 145);
}

#s_box,
#s_but {
    transition-duration: 0.3s;
}

#s_box:focus-visible {
    outline: white 1px solid;
    box-shadow: 0px 0px 5px white;
}

/* Ρυθμίσεις Γλώσσας & Χρήστη */
.language,
.user {
    margin: 15px 20px 10px 0;
    position: relative;
    z-index: 1600;
}

#lang_menu,
#us_menu {
    background-color: black;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    padding: 6px;
    z-index: 1601;
    transition-duration: 0.3s;
}

#lang_menu:hover,
#us_menu:hover {
    background-color: rgb(26, 26, 26);
}

.lang_opt,
.us_opt {
    border-radius: 5px;
    position: absolute;
    display: block;
    padding: 5px;
    top: 100%;
    right: 0;
    background-color: grey;
    pointer-events: none;
    opacity: 0;
    z-index: 1602;
    transition-duration: 0.3s;
}

.lang_opt a,
.us_opt a {
    display: block;
    padding: 5px;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.3s;
}

.lang_opt a:hover,
.us_opt a:hover {
    background-color: rgb(167, 165, 165);
}

.language:hover .lang_opt,
.user:hover .us_opt {
    pointer-events: auto;
    opacity: 1;
}

#globe_icon,
#us_icon {
    background-color: transparent;
    height: 30px;
}

#us_icon {
    height: 31px;
}

#gr {
    font-weight: bold;
}